body, html{
    padding: 0;
    margin: 0;
    height: 100dvh;
    font-family: "Exo 2", sans-serif;
    box-sizing: border-box;
}

body{
    display: grid;
    background-image: linear-gradient(rgba(87, 241, 164, 0.505), rgb(55, 238, 196));
}

.content{
    align-self: center;
    justify-self: center;
    padding: 3rem 6rem;
    border-radius: 50px;
    background: linear-gradient(145deg, #32d6b0, #3bffd2);
    box-shadow:  20px 20px 70px #2fcaa7,
                -20px -20px 70px #3fffe1;
}

#monica-content-root {
    display: none;
}

input{
    outline: 0;
    border: 0;
    border-radius: 1rem;
    height: 1.5rem;
    width: 16rem;
    transition: background-color 3s;
    padding: 0.5rem 1.5rem;
}

input:focus{
    background-color: #ff9393;
    box-shadow: 0.1rem 0.1rem 1rem;
}