body, html{
    padding: 0;
    margin: 0;
    height: 100dvh;
    font-family: "Exo 2", sans-serif;
    box-sizing: border-box;
}

body{
    display: grid;
    background-image: linear-gradient(rgba(87, 241, 164, 0.505), rgb(55, 238, 196));
}

.content{
    align-self: center;
    justify-self: center;
    padding: 3rem 6rem;
    border-radius: 50px;
    background: linear-gradient(145deg, #32d6b0, #3bffd2);
    box-shadow:  20px 20px 70px #2fcaa7,
                -20px -20px 70px #3fffe1;
}

#monica-content-root {
    display: none;
}